</tbody>
</table>
</td>
<td width="14"></td>
</tr>
<tr>
    <td></td>
    <td align="center">
        <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr align="center">
                    <td style="font-size:10px; color:#435F71; line-height:20px;">
                        <p>Merci de ne pas répondre à cet mail.</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td align="center">
        <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr align="center">
                    <td style="font-size:10px; color:#435F71; line-height:20px;">
                        <p>Copyright • 2023<br>Fondation Nif |  L-1882 Luxembourg, rue Guillaume Kroll 12E</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
    <td></td>
</tr>
{% if fake %}
    <tr>
        <td></td>
        <td align="center" style='color: red; font-size: 30px;'>
            ATTENTION IL S'AGIT D'EMAIL DE TEST POUR {{ real_recipient }}
        </td>
        <td></td>
    </tr>
{% endif %}
</tbody>
</table>
<br><bR>
</div>
</body>
</html>