<table style="width:100%;font-size: 10px;">
    <tr>
        <td style="width:50%;">
            Fondation Nif - {DATE d/m/Y}
        </td>
        <td  style="width:50%;text-align: right">
            {PAGENO}
        </td>
    </tr>
</table>