<table style="width:100%;font-size: 10px;">
    <tr>
        <td style="width:32%;">
            Fondation NIF<br>
            Rue Guillaume Kroll 12E<br>
            
        </td>
        <td  style="width:36%;">
            Tel +352 27 36 54 86<br>
            IBAN LU66 0080 3562 5010 2001 - BIC BLUXLULL<br>
            R.C.S Luxembourg G237
        </td>
        <td style="width:32%;text-align: right">
            contact@fondation-nif.com<br>
            www.fondation-nif.com
        </td>
    </tr>
</table>